@import "tailwindcss";

@theme {
  --color-brand-blue: #073557;
  --color-brand-red: #BB2830;
  --color-brand-white: #FFFFFF;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-white text-brand-blue antialiased;
  }
}
